<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite assessment">
    <test name="assessment tests">
        <classes>
            <class name="com.example.nielseniq.tests.HomePageTests">

                <methods><include name="verifyHomePage"/></methods>
            </class>

        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->